# Term Paper

### Part 1

In [12]:
import pandas as pd
import glob as glob

In [23]:
files=glob.glob(f'data/SCE-*-20*.csv')
df_list=[]
#loop to read in and append files
for file in files:
    df=pd.read_csv(file,sep=";",parse_dates=['date'])
    df_list.append(df)
sce_df=pd.concat(df_list,ignore_index=True)
sce_df

,userid,wid,date,weight,female,educ,age,hispanic,black,couple,...,num_lit_q3,num_lit_q3_correct,num_lit_q5,num_lit_q5_correct,num_lit_q6,num_lit_q6_correct,num_lit_q8,num_lit_q8_correct,num_lit_q9,num_lit_q9_correct
0,70024705,201404,2014-04-03,1.0,0.0,3.0,23.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70024720,201404,2014-04-02,0.5,0.0,4.0,65.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70024744,201404,2014-04-02,0.6,0.0,4.0,52.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,70024764,201404,2014-04-08,0.4,1.0,4.0,46.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,70024781,201404,2014-04-10,0.8,1.0,3.0,61.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176096,75023169,202409,2024-09-19,2.5,1.0,1.0,23.0,0.0,1.0,0.0,...,2.0,0.0,20.0,0.0,1.0,0.0,2.0,0.0,2.0,1.0
176097,75023181,202409,2024-09-07,1.1,1.0,3.0,53.0,1.0,1.0,1.0,...,10.0,1.0,1000.0,0.0,4.0,0.0,1.0,0.0,1.0,0.0
176098,75023187,202409,2024-09-19,0.8,0.0,4.0,51.0,0.0,1.0,0.0,...,100.0,0.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176099,75023188,202409,2024-09-03,0.7,1.0,4.0,53.0,0.0,0.0,0.0,...,10.0,1.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176100,75023201,202409,2024-09-20,2.3,1.0,2.0,43.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,1.0,0.0,2.0,1.0